.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.textBox{
  height: 40%;
  width: 40%;
  resize: none;
}

.navBar{
  padding-top: 30px;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.homePage{
  background-image: url('assets/bindertext.png');
  background-size: 100vw;
  border-radius: 0px 10px 10px 0px;
  background-attachment: fixed;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: white;
  width: 60vw;
  height: 85vh;
  background-color: #333333;
}

body{
  font-family: 'Comfortaa', cursive;
  z-index: 0;
  background-image: url('assets/woodbg.png');
  background-attachment: fixed;
  background-size: 100vw;
}

.navLink{
  z-index: 1;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
  height: 2em;
  padding-top: .5em;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #f7fff7;
}

.navLink:hover{
  background-color: #a6a6a6;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.outer{
  align-items: baseline;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.sideNavLink{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: lightgrey;
  border-radius: 10px 10px 0px 0px;

  transform: translateY(-20px) rotate(90deg);
  transform-origin: left bottom 0;
  padding: 20px;
  cursor: pointer;
}

.sideNavLink:nth-child(1):hover, .sideNavLink:nth-child(2):hover, .sideNavLink:nth-child(3):hover{
  background-color: darkgray;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}


.sideNavLink:nth-child(1){
  background-color: #4ecdc4;
}


.sideNavLink:nth-child(2){
  background-color: #ffe66d;
}

.sideNavLink:nth-child(3){
  background-color: #ff6b6b;
}

.sideNav{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 70vh;
  align-self: flex-start;
}

.definitions {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80%;

  text-align: left;
  margin-left: 60px;
}

.title{

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px 0px 20px 0px;
}

.titleName {
  font-size: 30px;
  font-weight: bold;

  text-align: left;
  padding-left: 20px;
}

.contentPage{
  background-image: url('assets/paper.png');
  background-size: 100vw;
  background-attachment: fixed;
  z-index: 2;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: black;
  width: 95vw;
  height: 85vh;
  background-color: #333333;

  border-radius: 10px;
}

.navBarSelected{
  padding-top: 30px;
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  align-items: flex-end;
}

.welcome {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
          typing 3.5s steps(40, end),
          blink-caret .75s step-end infinite;
}

.container{
  height: 85%;
  grid-template-columns: 50% 50%;
  grid-template-rows: 70% 30%;
  width: inherit;
  display:grid;
  grid-template-areas:
          "info console"
          "info output" ;
}

.info{
  text-align: left;
  grid-area: info;
  margin: 20px;

  overflow-y: scroll;
}

.console{
  grid-area: console;
  display: flex;
  flex-direction: column;
  grid-gap: 0;
  margin: 15px;
}

.output{
  grid-area: output;
  margin: 15px;
}

.inputBox{
  resize: none;
  height: 100%;
  width: 98.5%;
  font-family: "Courier New";
}

.outputBox{

  resize: none;
  cursor: default;
  height: 100%;
  width: 100%;
}

.output{
  text-align: left;
  margin: 20px;
  padding: 10px;
  border-width: 1px;
  border-style: solid;
  background-color: white;
  border-color: lightgrey;
  font-family: "Courier New";
  font-size: 15px;
}

/*css sourced from https://css-tricks.com/snippets/css/typewriter-effect/*/
@keyframes typing {
  from { width: 0 }
  to { width: 55% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}

.compileButton{
  margin: 5px;
}

.innerNavSelected{
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  font-size: .8em;
  width: 50%;
}

.innerNavSelected .navLink:nth-child(1) {
  background-color: #4ecdc4;
}

.innerNavSelected .navLink:nth-child(2) {
  background-color: #88D279;
}

.innerNavSelected .navLink:nth-child(3) {
  background-color: #ffe66d;
}

.innerNavSelected .navLink:nth-child(4) {
  background-color: #FFB56B;
}

.innerNavSelected .navLink:nth-child(5) {
  background-color: #ff6b6b;
}

.innerNavSelected .navLink:nth-child(1):hover, .innerNavSelected .navLink:nth-child(2):hover,
.innerNavSelected .navLink:nth-child(3):hover, .innerNavSelected .navLink:nth-child(4):hover,
.innerNavSelected .navLink:nth-child(5):hover {
  background-color: darkgray;
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -ms-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

.rightNavSelected{
  width: 50%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.stickerHeart{
  width: 175px;
  position: absolute;
  bottom: 20%;
  left: 30%;
  height: auto;
}

.stickerLightning{
  width: 100px;
  position: absolute;
  left: 22%;
  bottom: 35%;
  height: auto;
}

.stickerLizard{
  width: 160px;
  position: absolute;
  bottom: 10%;
  left: 20%;
  height: auto;
}

.pencil{
  width: 250px;
  position: absolute;
  transform: rotate(5deg);
  right: 0%;
  bottom: 0%;
  height: auto;
}

body{
  overflow: hidden;
}
.keywordV {
  background-color: #4ecdc4;
}

.keywordO {
  background-color:  #88D279;
}

.keywordC {
  background-color:  #ffe66d;
}

.keywordL {
  background-color:  #FFB56B;
}

.keywordM {
  background-color:  #ff6b6b;
}

.code{
  padding-left: 50px;
  font-family: "Courier New";
  font-size: 17px;
}
.inner {
  padding-left: 75px;
  font-family: "Courier New";
  font-size: 17px;
}

.compileButton{
  background-color: #88D279;
  font-weight: bold;
  color: white;
  border-width: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;

}

.compileButton:hover{
  transition: 1s;
  background-color: #55bf40;
}

.compileButton:active{
  transition: 0s;
  background-color: #3c862d;
}

button:focus {outline:0;}